/* Externas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color:  hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Externas */

/* Container */
/* Container */

/* Imagem */
/* Imagem */

/* Titulos */
/* Titulos */

/* Paragrafo */
/* Paragrafo */

/* Preço */
/* Preço */

/* Botão */
/* Botão */