/* Externas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color:  hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Externas */

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
/* Container */

/* Imagem */
.desktop-perfume-image {
    width: 280px;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
/* Imagem */

/* Texto */
.text {
    padding: 20px;
    text-align: left;
}
/* Texto */

/* Titulos */
h1 {
    
}
/* Titulos */

/* Parágrafo */
/* Parágrafo */

/* Preço */
/* Preço */

/* Botão */
/* Botão */