@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
/* Externas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color:  hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Externas */

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
/* Container */

/* Imagem */
.desktop-imagem-perfume {
    width: 280px;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
/* Imagem */

/* Texto */
.texto {
    padding: 15px;
    text-align: left;
}
/* Texto */

/* Titulos */
h1 {
    font-family: 'Fraunces', serif;
    font-size: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    font-size: 700;
    color: hsl(228, 12%, 48%);
}
/* Titulos */

/* Parágrafo */
.paragrafo {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
/* Parágrafo */

/* Preço */
.preco {
    margin: 15px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.novo-preco {
    font-family: 'Fraunces', serif;
    font-size: 25px;
    color: hsl(158, 36%, 37%);
}

.antigo-preco {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
/* Preço */

/* Botão */
.btn {
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    background-color: hsla(158, 30%, 39%, 0.486);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn:hover {
   background-color: hsl(158, 36%, 39%);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: none;
    background-color: hsl(212, 21%, 14%);
}
/* Botão */

/* Responsivo */
/* Responsivo */